body {
  background-color: #E7F8FD;
  color: #1B3467;
  font-size: 16px;
}

nav {
  background-color: rgba(0,0,0,.2);
  float: left;
  position: fixed;
  width: 100%;
}

a {
  text-decoration: none;
  font-weight: bold;
}
a:link { color:#2032D9; }
a:visited { color:#7D23C7; }
a:hover { color:#000566; }
a:active { color:#0009C6; }

h1 {
  font-size: 2.5em;
  font-weight: 900;
  margin-block-start: .5em;
  margin-block-end: .5em;
}

h3 {
  font-size: 1.8em;
  margin-block-start: .5em;
  margin-block-end: .5em;
}

figcaption {
  font-size: .9em;
  margin-block-start: .3em;
}

p {
  margin-block-end: 1em;
}

.author {
  margin-block-end: .5em;
}

.story-text {
  line-height: 1.3;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
